{{#extends 'base'}}
{{#block 'content'}}
<form action="" method="POST">
    <div>
        <label for="" class="form-label">Name</label>
        <input name='name' type="text" class="form-control" id="">
    </div>
    <div>
        <label for="" class="form-label">Breed</label>
        <input name='breed' type="text" class="form-control" id="">
    </div>
    <div>
        <label for="" class="form-label">Description</label>
        <input name='description' type="text" class="form-control" id="">
    </div>
    <div>
        <label for="" class="form-label">Age</label>
        <input name='age' type="text" class="form-control" id="">
    </div>
    <div>
        <label for="" class="form-label">Problems</label>
        <input name='problems' type="text" class="form-control" id="">
    </div>
    <div>
        <label for=""> Animal Tags</label>
        <input name='tags' class="form-check-input" type="checkbox" value="house-broken" id="">
        <label class="form-check-label" for=""> House Broken </label>

        <input name='tags' class="form-check-input" type="checkbox" value="vaccinated" id="">
        <label class="form-check-label" for=""> Vaccinated </label>

        <input name='tags' class="form-check-input" type="checkbox" value="chipped" id="">
        <label class="form-check-label" for=""> Chipped </label>

        <input name='tags' class="form-check-input" type="checkbox" value="fixed" id="">
        <label class="form-check-label" for=""> Fixed </label>
    </div>
    <div>
        <label for="">HDB Approved</label>
        <input class="form-check-input" type="radio" name="hdb-approved" value="true">
        <label class="form-check-label"> True </label>
        <input class="form-check-input" type="radio" name="hdb-approved" value="false">
        <label class="form-check-label"> False </label>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{{/block}}
{{/extends}}